<div class="container">
  <%= render "shared/button_search" %>
  <%= render "shared/button_save_essential_oil" %>
  <%= render "shared/button_save_acupoint" %>
  <%= render "shared/card_menthe_poivree" %>
  <%= render "shared/card_point_wt_passetille" %>
  <%= render "shared/logo_mediless" %>
  <%= render "shared/description" %>
  <%= render "shared/form_input" %>
  <%# <%= render "shared/card_menthe_poivree" %>
  <%# <%= render "shared/flashes" %>
  <%= render "shared/navbar" %>
</div>
